@page 
@using DataLayer.Entities.Permision
@model LearningSite.Pages.Admin.ManageUser.Roles.EditRoleModel
@{
    ViewData["Title"] = "ویرایش نقش";
    List<Permision> permissions = ViewData["Permissions"] as List<Permision>;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش نقش </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ویرایش نقش "@Model.Role.RoleName"
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <input type="hidden" asp-for="Role.Id" />
                    <input type="hidden" asp-for="Role.IsDeleted" />
                    <div class="form-group">
                        <label>عنوان نقش</label>
                        <input type="text" name="Title" asp-for="Role.RoleName" class="form-control">
                    </div>
                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    دسترسی های نقش
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @{
                        List<long> SelectedPermissions = ViewData["SelectedPermissions"] as List<long>;
                    }
                    <ul>
                        @foreach (var permission in permissions.Where(p => p.ParentID == null))
                        {
                            <li>
                                <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p=>p==permission.Id)?"checked":"")) value="@permission.Id" /> @permission.PermissionTitle

                                @if (permissions.Any(p => p.ParentID == permission.ParentID))
                                {
                                    <ul>
                                        @foreach (var sub in permissions.Where(p => p.ParentID == permission.Id))
                                        {
                                            <li>
                                                <input type="checkbox" @((SelectedPermissions.Any(p=>p==sub.Id)?"checked":"")) name="SelectedPermission" value="@sub.Id" /> @sub.PermissionTitle
                                                @if (permissions.Any(p => p.ParentID == sub.ParentID))
                                                {
                                                    <ul>

                                                        @foreach (var sub2 in permissions.Where(p => p.ParentID == sub.Id))
                                                        {
                                                            <li>
                                                                <input type="checkbox" @((SelectedPermissions.Any(p=>p==sub2.Id)?"checked":"")) name="SelectedPermission" value="@sub2.Id" /> @sub2.PermissionTitle
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </form>
</div>